(The Morgan Kaufmann Series in Computer Architecture and Design) David A. Patterson, John L. Hennessy - Computer Organization and Design, Fifth Edition_ The Hardware_Software Interface-Morgan Kaufmann.pdf
